<p id="notice"><%= notice %></p>

<h3>Next up, on <%= @station.name %>...</h3>
<br>
<br>

<!-- Song queue -->
<table>
    <tr>
      <th></th>
      <th>Song</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Selector</th>
    </tr>
  <% @station.queue.each_with_index do |song, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= song.album %></td>
      <td>Selector Name</td>
    </tr>
  <% end %>
</table>

