<p id="notice"><%= notice %></p>

<div class="search-container">
    <form action="/songs/search">
      <input type="text" placeholder="Search..." name="query">
      <button class="button button3" type="submit"><i class="fa fa-search"></i></button>
    </form>
 </div>

<h3>Next up, on <%= @station.name %>...</h3>
<br>
<br>

<!-- Song queue -->
<table>
    <tr>
      <th></th>
      <th>Song</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Selector</th>
    </tr>
  <% @station.queue.each_with_index do |queue_entry, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= queue_entry.song.title %></td>
      <td><%= queue_entry.song.artist %></td>
      <td><%= queue_entry.song.album %></td>
      <td><%= queue_entry.selector.username %></td>
    </tr>
  <% end %>
</table>

