  <table class="fixed_header">
  <%if @search_songs %>
  <!-- TRACKS -->
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
        <th></th>
    </tr>
    <% @search_songs.each_with_index do |song, ind| %>
      <tr>
          <td> <%= song.title %> </td>
          <td> <%= song.artist %> </td>
          <td> <%= song.album %> </td>
          <td> <%= msToMinSec(song.duration) %> </td>
          <td>
              <button class="button button6" type="submit", onclick='add_track_to_seeds("<%= j song.title %>", "<%= song.source_id %>")' >
                  <i class="fa fa-plus"></i>
              </button>
          </td>
      </tr>
    <% end %>


    <% elsif @search_artists %>
    <!-- ARTISTS -->
        <tr>
          <th>Name</th>
          <th>Genres</th>
          <th></th>
      </tr>

      <% @search_artists.each_with_index do |artist, ind| %>
        <tr>
            <td> <%= artist.name %> </td>
            <td> <%= artist.genres.join(", ") %> </td>
            <td>
                <button class="button button6" type="submit", onclick='add_artist_to_seeds("<%= j artist.name %>", "<%= artist.id %>")' >
                    <i class="fa fa-plus"></i>
                </button>
            </td>
        </tr>

      <% end %>

    <% else %>
        nada
    <% end %>

  </table>
