Spotify's Recommendations API is based on two inputs: "Seeds" and "Audio Features".
<br>
Seeds are either tracks or artists that are used as a basis for your recommendations.
Your current seeds are indicated where is says "Current Seeds".  You must select between
1 and 5 seeds.  There are two ways of adding seeds.  You can use the search form, select
either "Track" or "Artist", and then press the "+".  You should now see it in "Current Seeds".
Alternatively, you can fill out the form of radio buttons and press "Add Seed".  A common option
is to choose "Track" + "Most Recent" + "All Chosen Songs" -- this will filter for songs that will
match the current vibe of the radio.  (Note: choosing "Most Recent" several times in a row will
actually select the last, then second-to-last, then third-to-last, etc).  You must link your
spotify account to use "My Spotify Library".
<br>
Optionally, you can search by audio features.  If you want to include an audio feature, press the
checkbox, and a slider should appear.  Slide it to your desired level.  For a list of audio feature
descriptions, see https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/.
Note that these are merely "target" values
<br>
Then press the magnifying glass at the bottom of the page to get a list of recommendations.  It will
automatically filter results whose first letter matches the search form.  The search
form should be prepopulated with $the_next_letter.  If you search with an empty form, it will show
all 100 results.  Recommendations are semi-random, so searching multiple times will probably yield different results.
Adding more seeds will increase the randomness.  If it's your turn, you can press the "+" button to
add the song to the queue.
<div>
    <h2> Seeds </h2>

    <div class="column seeds">

    <!-- CURRENT SEEDS TABLE -->
      <div id="current-seeds">
        <div class="userlist">
          <table>
              <p> Current Seeds </p>
              <template id=seed_name_template>
                <tr>
                  <td id=seed_name> </td>
                  <td> <button id="seed_remove_button" type="submit" class="button button6">
                    <i class="fa fa-minus"></i>
                  </td>
                </tr>
              </template>
              <tbody>
              </tbody>
          </table>
        </div>
      </div>

    <!-- SEED BY HISTORY FORM -->
      <div>
        <form action="/recommendations/add_seed" id="add_seed_form" method="post" data-remote="true">
          <p> Category </p>
          <input type="radio" name="category" value="track" checked="true">
            <label for="track">Track</label>
          <input type="radio" name="category" value="artist">
            <label for="artist">Artist</label>

          <p> Time </p>
          <input type="radio" name="recency" value="random" checked="true">
            <label for="random">Random</label>
          <input type="radio" name="recency" value="last">
            <label for="last">Most Recent</label>

          <p> Source </p>
          <input type="radio" name="source" value="all_songs" checked="true">
            <label for="all_songs">All Chosen Songs</label><br>
          <input type="radio" name="source" value="my_chosen_songs">
            <label for="my_chosen_songs">Songs Chosen by Me</label><br>
          <input type="radio" name="source" value="my_upvoted_songs">
            <label for="my_upvoted_songs">Songs Upvoted by Me</label><br>
          <input type="radio" name="source" value="my_spotify_library">
            <label for="my_spotify_library">My Spotify Library</label><br>

          <input type="hidden" name="last_counter" id="last_counter">
            <!-- Value is set by increment_last_counter() -->

          <button onclick="increment_last_counter()"> Add Seed </button>
        </form>
      </div>
    </div>

  <!-- SEARCH FOR SEEDS -->
    <div class="column search-seeds" style="height:450px">
      <form action="/recommendations/search", method="get", data-remote="true">
        <div class="search-container">
            <input type="text" placeholder="Search..." name="query"
               <% if @query %>
                value="<%= @query %>"
               <% end %>
            >
            <button class="button button2" type="submit", onclick="set_search_category('track')">Track</button>
            <button class="button button2" type="submit", onclick="set_search_category('artist')">Artist</button>
      </div>
        <input type="hidden" id="seed-category" name="category" value="track">
      </form>

    <div id="search-results">
      <!-- This is where search results go -->
    </div>

  </div>
</div>

<div align="center">

<!-- AUDIO FEATURES -->
<form action="/recommendations/suggest", method="get", data-remote="true">

  <h2> Audio Features </h2>
  <div align="left">

      <% features.each do |feature| %>

          <span class="audio-feature">
              Use <%= feature[:name] %>?
              <!-- checkbox -->
              <input type="checkbox"
                    id="<%= feature[:name] %>_checkbox"
                    name="use_<%= feature[:name] %>",
                    onclick="show_slider('<%= feature[:name] %>')">

              <div id="<%= feature[:name] %>_slider_and_value", style="display:none" >

                <div class="slidecontainer">
                    <input
                        type="range"
                        name=<%= feature[:name] %>
                        min=<%= feature[:min] %>
                        max=<%= feature[:max] * feature[:scale] %>
                        value=<%= feature[:min] %>
                        class="slider"
                        id="<%= feature[:name] %>_slider">
                </div>
                <div id="<%= feature[:name] %>_value" > <%= feature[:min] %> </div>
              </div> <!-- slider and value -->
          </span>

      <% end %>

  </div>

<!-- Sneaky hidden seeds
  The seed information needs to be part of the final form.
  However, due to the page layout, the seeds are located next to
  the song search, which contains another form.  Html doesn't support
  nested forms.
-->
<template id=seed_form_template>
  <div>
    <input type="hidden" id="template_source_id" name="source_id[]" >
    <input type="hidden" id="template_category" name="category[]" >
  </div>
</template>
<div id="hidden-seeds"> </div>

<br>
<h2> Recommendations by First Letter </h2>

  <input type="text" name="query" value="<%= $the_next_letter %>" style="width:40px">
  <button type="submit" class="button button3">
    <i class="fa fa-search">
  </i></button>


</form>

<br>
<br>

<div id="suggestions">

</div>

<br><br><br><br>

<script>


function update_slider(name, scale) {

    var slider = document.getElementById(name + "_slider");
    var output = document.getElementById(name + "_value");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value / scale;
    }
}

<% features.each do |feature| %>
    update_slider("<%= feature[:name] %>", "<%= feature[:scale] %>")
<% end %>

function show_slider(name) {
  // get the checkbox
  var checkbox = document.getElementById(name + "_checkbox");
  // get the slider + value
  var slider_and_value = document.getElementById(name + "_slider_and_value");

  if (checkbox.checked) {
    slider_and_value.style.display = "block";
  } else {
    slider_and_value.style.display = "none";
  }
}

function set_search_category(type) {
  document.getElementById("seed-category").value = type
}

function add_artist_to_seeds(artist, source_id) {
  add_seed(artist, "artist", source_id);
}

function add_track_to_seeds(track, source_id) {
  add_seed(track, "track", source_id);
}

// If you add "Most Recent" a bunch of times in a row, it should
// Add the last, second-to-last, third-to-last, etc
var last_counter = {
    "all_songs": 0,
    "my_chosen_songs": 0,
    "my_upvoted_songs": 0,
    "my_spotify_library": 0,
};

function check_seed_limit() {
  // make sure we don't "exseed" the limit
  num_seeds = $("#current-seeds tbody").get(0).children.length
  if (num_seeds >= 5) {
    alert("Can't have more than 5 seeds")
    return false;
  }
  return true;
}

function increment_last_counter(source) {
  if (!check_seed_limit()) {
    return;
  }
  var recency = document.getElementsByName("recency");

  if (recency[1].checked) {
    // We chose the "Most Recent" option

    var sources = document.getElementsByName("source");

    for (i = 0; i < sources.length; i++) {
      if (sources[i].checked) {
        source = sources[i].value;
        document.getElementById("last_counter").value = last_counter[source];
        ++last_counter[source];
      }
    }
  }
  // Submit the event, tagged with data-remote
  $("add_seed_form").trigger('submit.rails')
}

function add_seed(name, category, source_id) {
  if (!check_seed_limit()) {
    return;
  }

  // Add the seed to the form using the template
  var form_template = document.getElementById("seed_form_template");
  var form_clone = form_template.content.cloneNode(true);

  form_clone.children[0].id = source_id + '_form'

  form_clone.getElementById('template_source_id').value = source_id;
  form_clone.getElementById('template_category').value = category;
  $("#hidden-seeds").append(form_clone);


  // Show the seed in the list of "Current seeds"
  var name_template = document.getElementById("seed_name_template");
  var name_clone = name_template.content.cloneNode(true);

  name_clone.children[0].id = source_id + '_name'

  name_clone.getElementById('seed_name').innerHTML = name;
  name_clone.getElementById('seed_remove_button').onclick = function(){remove_seed(source_id)};

  $("#current-seeds tbody").append(name_clone)
}

function remove_seed(source_id) {

  document.getElementById(`${source_id}_name`).remove()
  document.getElementById(`${source_id}_form`).remove()

}

// Unused because it's being annoying
function validateArgs() {
  num_seeds = $("#current-seeds tbody").get(0).children.length
  if (num_seeds >= 5) {
    alert("Can't have more than 5 seeds")
    return false;
  }

  if (num_seeds < 1) {
    alert("Must have at least 1 seed")
    return false;
  }

  // Submit the event, tagged with data-remote
  // $("#submit-suggestion").trigger('submit.rails')
}

</script>