
<div>
    <h2> Seeds </h2>

    <div class="column seeds">
      <div id="current-seeds">
        <div class="userlist">

          <table>
              <p> Current seeds </p>
              <tbody>

              </tbody>
          </table>
        </div>
      </div>
      <div>
        <form action="/recommendations/add_seed" method="post" data-remote="true">
          <p> Category </p>
          <input type="radio" name="category" value="track">
            <label for="track">Track</label>
          <input type="radio" name="category" value="artist">
            <label for="artist">Artist</label>

          <p> Time </p>
          <input type="radio" name="recency" value="random">
            <label for="random">Random</label>
          <input type="radio" name="recency" value="last">
            <label for="last">Most Recent</label>

          <p> Source </p>
          <input type="radio" name="source" value="all_songs">
            <label for="all_songs">All Chosen Songs</label><br>
          <input type="radio" name="source" value="my_chosen_songs">
            <label for="my_chosen_songs">Songs Chosen by Me</label><br>
          <input type="radio" name="source" value="my_upvoted_songs">
            <label for="my_upvoted_songs">Songs Upvoted by Me</label><br>
          <input type="radio" name="source" value="my_spotify_library">
            <label for="my_spotify_library">My Spotify Library</label><br>

          <button type="submit"> Add Seed </button>
        </form>
      </div>
    </div>
    <div class="column search-seeds" style="height:500px">
      <form action="/recommendations/search", method="get", data-remote="true">
        <div class="search-container">
            <input type="text" placeholder="Search..." name="query"
               <% if @query %>
                value="<%= @query %>"
               <% end %>
            >
            <button class="button button2" type="submit", onclick="set_search_category('track')">Track</button>
            <button class="button button2" type="submit", onclick="set_search_category('artist')">Artist</button>
      </div>
        <input type="hidden" id="seed-category" name="category" value="track">
      </form>

    <div id="search-results">
      <!-- This is where search results go -->
    </div>

  </div>
</div>

<div align="center">

<form action="/recommendations/suggest", method="get", data-remote="true">

  <h2> Audio Features </h2>
  <div align="left">

      <% features.each do |feature| %>

          <span class="audio-feature">
              Use <%= feature[:name] %>?
              <!-- checkbox -->
              <input type="checkbox"
                    id="<%= feature[:name] %>_checkbox"
                    name="use_<%= feature[:name] %>",
                    onclick="show_slider('<%= feature[:name] %>')">

              <div id="<%= feature[:name] %>_slider_and_value", style="display:none" >

                <div class="slidecontainer">
                    <input
                        type="range"
                        name=<%= feature[:name] %>
                        min=<%= feature[:min] %>
                        max=<%= feature[:max] * feature[:scale] %>
                        value=<%= feature[:min] %>
                        class="slider"
                        id="<%= feature[:name] %>_slider">
                </div>
                <div id="<%= feature[:name] %>_value" > <%= feature[:min] %> </div>
              </div> <!-- slider and value -->
          </span>

      <% end %>

  </div>

<!-- Sneaky hidden seeds
  The seed information needs to be part of the final form.
  However, due to the page layout, the seeds are located next to
  the song search, which contains another form.  Html doesn't support
  nested forms.
-->
<template id=seed_form_template>
<input type="hidden" id="template_source_id" name="source_id[]" >
<input type="hidden" id="template_category" name="category[]" >
</template>
<div id="hidden-seeds"> </div>

<br>

<%= text_field_tag :search, params[:search], :placeholder => "First letter..." %>
<%= submit_tag "Search", :name => nil %>


</form>

<br>
<br>
Your song is:
<br>

<div id="suggestion">
  hi
</div>

<br><br><br><br>

<script>
function update_slider(name, scale) {

    var slider = document.getElementById(name + "_slider");
    var output = document.getElementById(name + "_value");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value / scale;
    }
}

<% features.each do |feature| %>
    update_slider("<%= feature[:name] %>", "<%= feature[:scale] %>")
<% end %>

function show_slider(name) {
  // get the checkbox
  var checkbox = document.getElementById(name + "_checkbox");
  // get the slider + value
  var slider_and_value = document.getElementById(name + "_slider_and_value");

  if (checkbox.checked) {
    slider_and_value.style.display = "block";
  } else {
    slider_and_value.style.display = "none";
  }
}

function set_search_category(type) {
  document.getElementById("seed-category").value = type
}

function add_artist_to_seeds(artist, source_id) {
  add_seed(artist, "artist", source_id);
}

function add_track_to_seeds(track, source_id) {
  add_seed(track, "track", source_id);
}

function add_seed(name, category, source_id) {
  // Add the seed to the form using the template
  var temp = document.getElementById("seed_form_template");
  var clon = temp.content.cloneNode(true);

  clon.getElementById('template_source_id').value = source_id;
  clon.getElementById('template_category').value = category;
  $("#hidden-seeds").append(clon);

  // Show the seed in the list of "Current seeds"
  $("#current-seeds tbody").append("<tr><td> " + name + " </td></tr>")
}

</script>
