<div>
  <h2> Hello. I am Buddy </h2>
</div>

<div>
  <form action="/buddy/configure" id="buddy_cfg_form" method="post">
    <h3> May I join you? </h3>
    <input type="radio" name="buddy_on" value=true  <%if @buddy_on%> checked <%end%> >
      <label for="true"> Yeah! </label>
    <input type="radio" name="buddy_on" value=false <%if !@buddy_on%> checked <%end%> >
      <label for="false"> Nah </label>
    <br>

    <h3> What kind of music do I like? </h3>


    <!-- Create Checkbox grid of potential "Tastes in Music" -->
    <table>
      <% if @buddy_taste %>
        <tr>
          <th>  </th>
          <th> Played </th>
          <th> Upvoted </th>
          <th> Spotify </th>
        </tr>
        <% @buddy_users.each do |user| %>
          <tr>
            <th> <%=user%> </th>
            <th> <input type="checkbox" name="buddy_taste[]" value="<%=user%>_played"
              <%if @buddy_taste.include?("#{user}_played")%>  checked <%end%> /> </th>
            <th> <input type="checkbox" name="buddy_taste[]" value="<%=user%>_upvoted"
              <%if @buddy_taste.include?("#{user}_upvoted")%> checked <%end%> /> </th>
            <th> <input type="checkbox" name="buddy_taste[]" value="<%=user%>_spotify"
              <%if not @spotify_users.include?(user)%>
                disabled
              <%else%>
                <%if @buddy_taste.include?("#{user}_spotify")%> checked <%end%> /> </th>
              <%end%>
          </tr>
        <%end%>
      <%end%>
    </table>

    <!-- TODO: Option for Recommended songs (maybe based on last N (non-buddy) songs -->

    <button type="submit"> Submit </button>

  </form>

  Current Settings:
  <br>
  <%= "buddy_on: #{@buddy_on}" %>
  <br>
  <%= "buddy_taste: #{@buddy_taste}" %>

</div>


<script>

console.log("hello");

</script>


