<div class="search-container">
    <form action="/songs/search">
      <input type="text" placeholder="Search..." name="query">
      <button class="button button3" type="submit"><i class="fa fa-search"></i></button>
    </form>
 </div>


<table>
 
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
        <th></th>
    </tr>

    <% @songs.each_with_index do |song, ind| %>

    <tr>
        <td> <%= song.title %> </td>
        <td> <%= song.artist %> </td>
        <td> <%= song.album %> </td>
        <td> <%= msToMinSec(song.duration) %> </td>
        <td>
            <% if logged_in? and current_user.can_add_to_queue %>
                <button class="button button6" onclick="confirmSong(<%=ind%>,'<%=song.title.gsub("'", "’")%>','<%=song.artist.gsub("'", "’")%>','<%=song.first_letter%>', '<%=$the_next_letter%>')" ><i class="fa fa-plus"></i></button>
                <form id="addSong<%=ind%>" action=<%="/stations/#{current_user.station.id}"%> method="post">
                    <input type="hidden" name="uri" value=<%= song.uri %> >
                    <input type="hidden" name="title" value="<%= song.title %>" >
                </form>

            <% end %>
        </td>
    </tr>

    <% end %>

<!-- help -->

</table>

<!-- Show More Songs Button -->
<br>
<button class="button button8" type="submit">Show More</button>



<!-- Confirm Song Popup -->
<script>

function confirmSong(ind, title, artist, song_first_letter, next_letter) {

        var $content = "";

        if (next_letter == "_" || song_first_letter == "_" || song_first_letter == next_letter) {

          $content =  "<div class='dialog-ovelay'>" +
                          "<div class='dialog'>" +
                      "<div class='dialog-msg'>" +
                          " <p> Add \"" + title + "\" by " + artist + " to queue? </p> " +
                      "</div>" +
                      "<div class='controls'>" +
                          " <button class='button button2 doAction'>Yes</button> " +
                          "&nbsp; &nbsp;"+
                          " <button class='button button2 cancelAction'>No</button> " +
                      "</div>" +
                    "</div>" +
                  "</div>";
        } else {

          $content =  "<div class='dialog-ovelay'>" +
                          "<div class='dialog'>" +
                      "<div class='dialog-msg'>" +
                          " <p> Song \"" + title + "\" starts with \"" + song_first_letter + "\" instead of your assigned letter \"" + next_letter + "\"! </p> " +
                      "</div>" +
                      "<div class='controls'>" +
                          " <button class='button button2 doAction'>Nuh-uh</button> " +
                          "&nbsp; &nbsp;"+
                          " <button class='button button2 cancelAction'>Oops</button> " +
                      "</div>" +
                    "</div>" +
                  "</div>";
        }

         $('body').prepend($content);

         // Add Song To Queue
      $('.doAction').click(function () {
        document.getElementById("addSong"+ind).submit();

        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
      });

      // Close Dialog Box
$('.cancelAction, .fa-close').click(function () {
        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
      });
      
   }


</script>
