<div class="search-container">
    <form action="/songs/search">
      <input type="text" placeholder="Search..." name="query">
      <button class="button button3" type="submit"><i class="fa fa-search"></i></button>
    </form>
 </div>


<table>
 
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
        <th></th>
    </tr>

    <% @songs.each_with_index do |song, ind| %>

    <tr>
        <td> <%= song.title %> </td>
        <td> <%= song.artist %> </td>
        <td> <%= song.album %> </td>
        <td> <%= msToMinSec(song.duration) %> </td>
        <td>
            <% if logged_in? and current_user.can_add_to_queue %>
                <button class="button button6" onclick="confirmSong(<%=ind%>)" ><i class="fa fa-plus"></i></button>
                <form id="addSong<%=ind%>" action=<%="/stations/#{current_user.station.id}"%> method="post">
                    <input type="hidden" name="uri" value=<%= song.uri %> >
                </form>

            <% end %>
        </td>
    </tr>

    <% end %>

<!-- help -->

</table>

<!-- Show More Songs Button -->
<br>
<button class="button button8" type="submit">Show More</button>



<!-- Confirm Song Popup -->
<script>

// function confirmSong(title,artist){
function confirmSong(ind) {
        var $content =  "<div class='dialog-ovelay'>" +
                        "<div class='dialog'>" +
                     "<div class='dialog-msg'>" +
                         " <p> Add (song name goes here) by (artist goes here) to queue? </p> " +
                         // " <p> Add "$title" by "$artist" to queue? </p> " +
                     "</div>" +
                     "<div class='controls'>" +
                         " <button class='button button2 doAction'>Yes</button> " +
                         "&nbsp; &nbsp;"+
                         " <button class='button button2 cancelAction'>No</button> " +
                     "</div>" +
                  "</div>" +
                "</div>";

         $('body').prepend($content);

         // Add Song To Queue
      $('.doAction').click(function () {
        document.getElementById("addSong"+ind).submit();

        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
      });

      // Close Dialog Box
$('.cancelAction, .fa-close').click(function () {
        $(this).parents('.dialog-ovelay').fadeOut(500, function () {
          $(this).remove();
        });
      });
      
   }


</script>