<table>
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
        <th></th>
    </tr>
    <% @songs.each do |song| %>
    <tr>
        <td> <%= song.title %> </td>
        <td> <%= song.artist %> </td>
        <td> <%= song.album %> </td>
        <td> <%= msToMinSec(song.duration) %> </td>
        <td>
            <% if logged_in? and current_user.can_add_to_queue %>
                <form action=<%="/stations/#{current_user.station.id}"%> method="post" class="in_place_form">
                    <input type="hidden" name="uri" value=<%= song.uri %> >
                    <button class="button button3" type="submit"><i class="fa fa-plus"></i></button>
                </form>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
