<!DOCTYPE HTML>

<html>

    <!-- Header -->
        <head>
            <title>Jingle Churro Radio</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>

          <script type="text/javascript">
            $(document).ready(function() {
              <% flash.each do |status, message| %>
                // flash('<%= message %>', { type: '<%= status %>', dismissible: true })
                console.log('<%= message %>')
                flash('<%= message %>', { type: '<%= status %>', dismissible: true })
              <% end %>
            })
          </script>

          <link rel="manifest" href="/manifest.json">
        </head>

    <body style="height: 100%;">

    <!-- Navigation Bar -->
        <div class="topnav">
             <%= link_to "Home", "/sessions", :class => current_class?("/sessions") %>
             <%= link_to "Queue", "/stations", :class => current_class?("/stations") %>
             <%= link_to "Selector", "/songs", :class => current_class?("/songs") %>
             <a href="#Plots">Plots</a>
             <a href="#Chat">Chat</a>
        </div>

    <!-- Side Bar -->
        <div class = "row">
          <div class = "column sidebar">

            <span><h2>Jingle Churro Radio</h2></span>

        </div>


    <!-- Page Content -->
        <div class="column main">
            <div class="row" id="flash_row">
              <div class="col-xs-12 text-center">
                <div id="flash">
                </div>
              </div>
            </div>



            <%= yield %>


        </div>
      </div>

    <!-- Music Bar -->
    <% if logged_in? and current_user.station.now_playing %>
        <div class="musicBar">
          <div class = "columnMus leftMus">
                <p><%= current_user.station.now_playing.song.title %></p>
                   <%= current_user.station.now_playing.song.artist %>
            </div>

            <!-- Song Duration -->
            <div class = "columnMus middleMus">
                <br>
                <span id="current-time"></span>
                <canvas id="progress" width="500" height="5"></canvas>

                <audio id="audio" ontimeupdate="updateBar()"
                       src="http://k007.kiwi6.com/hotlink/tfaw4el9c5/Moon_River_Jazz.mp3">
                </audio>
                <span id="duration"></span>
                <br>
            </div>

            <!-- Play/Pause and Selector Name -->
            <div class = "columnMus rightMus">
            <span style="float: left; width: 32%; text-align: left;">&nbsp;</span>
            <span style="float: left; width: 32%; text-align: center; margin-top: 0.5em;">
              <button class="button button7" id="audioControl" onclick="togglePlaying()"><i class="fa fa-volume-up fa-lg"></i></button>
            </span>

              <span style="float: left; width: 32%; text-align: right; margin-top: 1em;">
                <% if current_user.station.now_playing.selector == current_user %>
                  <form action="/stations/<%= current_user.station.id %>/next" class="in_place_form">
                    <button class="button button3" type="submit">Next</button>
                  </form>
                <% else %>
                  Chosen by <%= current_user.station.now_playing.selector.username %>
                <% end %>
              </span>
            </div>

        </div>

        <script>
            var canvasWidth = 500 ;
            var audioEl = document.getElementById("audio");
            var canvas = document.getElementById("progress").getContext('2d');
            var ctrl = document.getElementById('audioControl');

            audioEl.addEventListener('loadedmetadata', function() {
              var duration = audioEl.duration;
              var currentTime = audioEl.currentTime;
              document.getElementById("duration").innerHTML = convertElapsedTime(duration);
              document.getElementById("current-time").innerHTML = convertElapsedTime(currentTime);
              canvas.fillRect(0, 0, canvasWidth, 50);
            });

            function togglePlaying() {

              var play = ctrl.innerHTML === '<i class="fa fa-volume-up fa-lg"></i>'
              var method

              if (play) {
                ctrl.innerHTML = '<i class="fa fa-volume-off fa-lg"></i><i class="fa fa-remove" style="font-size: 0.8em;"></i>'
                method = 'play'
              } else {
                ctrl.innerHTML = '<i class="fa fa-volume-up fa-lg"></i>'
                method = 'pause'
              }

              audioEl[method]()

            }

            function updateBar() {
              canvas.clearRect(0, 0, canvasWidth, 50)
              canvas.fillStyle = "#082739";
              canvas.fillRect(0, 0, canvasWidth, 50)

              var currentTime = audioEl.currentTime
              var duration = audioEl.duration

              if (currentTime === duration) {
                ctrl.innerHTML = "Play"
              }

              document.getElementById("current-time").innerHTML = convertElapsedTime(currentTime)

              var percentage = currentTime / duration
              var progress = (canvasWidth * percentage)
              canvas.fillStyle = "#e2f1af"
              canvas.fillRect(0, 0, progress, 50)
            }

            function convertElapsedTime(inputSeconds) {
              var seconds = Math.floor(inputSeconds % 60)
              if (seconds < 10) {
                seconds = "0" + seconds
              }
              var minutes = Math.floor(inputSeconds / 60)
              return minutes + ":" + seconds
            }

        </script>
    <% end %>

    </body>

<!-- Javascript -->
    <script>
        // Add a hidden input to all .in_place_form objects to tell the server where to redirect.
        $(document).ready(function() {
            redirect = window.location.href
            $(".in_place_form").append('<input type="hidden" name="redirect" value="' + redirect + '">')
        });
    </script>

</html>