<!DOCTYPE HTML>

<html>

  <!-- Auto Logout if cookie puts user in inconsistent state (when server hard resets) -->
  <% if logged_in? %>
    <% if current_user %>
      <% if current_user.station.nil? %>
        <form action="/logout" method="post" class="in_place_form" id="auto_logout">
        <script>
          window.onload = function(){
            document.forms['auto_logout'].submit()
          }
        </script>
      <% end %>
    <% end %>
  <% end %>

    <!-- Header -->
        <head>
            <title>Jingle Churro Radio</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>

          <script type="text/javascript">
            $(document).ready(function() {
              <% flash.each do |status, message| %>
                // flash('<%= message %>', { type: '<%= status %>', dismissible: true })
                console.log('<%= message %>')
                flash('<%= message %>', { type: '<%= status %>', dismissible: true })
              <% end %>
            })
          </script>
        </head>

    <body style="height: 100%;">

    <!-- Navigation Bar -->
        <div class="topnav">
             <%= link_to "Home", "/sessions", :class => current_class?("/sessions") %>
             <%= link_to "Queue", "/stations", :class => current_class?("/stations") %>
             <%= link_to "Browse", "/songs", :class => current_class?("/songs") %>
             <%= link_to "Plots", "/stations/1/plots" %>
             <%= link_to "Chat", "/chat", :class => current_class?("/chat") %>
             <% if logged_in? %>
                <%= link_to "Notifications (#{current_user.pending_notifications.length})",
                      "/notifications" %>
             <% end %>
             <%= link_to "Recommendations", "/recommendations", :class => current_class?("/recommendations") %>
             <%= link_to "Jeb's Birthday", "/songs/birth" %>
        </div>

    <!-- Side Bar -->
        <div class = "row">
          <div class = "column sidebar">

                <br><br><br>
                  <span><h2>JINGLE CHURRO</h2></span>
                  <span><h4>R A D I O</h4></span>



              <div class="userlist">
                  <table>
                    <p id="next-up">
                      <% if current_user and current_user.station %>
                        Next up... <%=current_user.station.users.order(:position)[0].username%> with '<%= $the_next_letter %>'
                      <% else %>
                        Next up...
                      <% end %>
                    </p>
                    <tbody>
                      <% User.where.not(position: nil).order(:position).each do |user| %>
                        <tr class="<%= user.position == 0 ? "user-active" : "user" %>">
                          <td><%= user.username %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>

                <br><br><br>
        </div>


    <!-- Page Content -->
        <div class="column main">
            <div class="row" id="flash_row">
              <div class="col-xs-12 text-center">
                <div id="flash">
                </div>
              </div>
            </div>



            <%= yield %>


        </div>
      </div>

    <!-- Music Bar -->
    <% if logged_in? and current_user.station and current_user.station.now_playing %>
        <div class="musicBar">
          <div class = "columnMus leftMus">
                <p id="now-playing-title"><%= current_user.station.now_playing.song.title %></p>
                <span id="now-playing-artist"><%= current_user.station.now_playing.song.artist %></span>
                <button id="now-playing-upvote" onclick="toggle_upvote(<%= current_user.station.now_playing.id %>)">
                  <i id="upvote" class="fa fa-thumbs<%= current_user.has_upvoted?(current_user.station.now_playing) ? "" : "-o" %>-up fa-lg"></i>
                </button>
                <button id="now-playing-spotify-save" onclick="save_song(<%= current_user.station.id %>)">
                  <i id="spotify-save" class="fa fa-floppy-o fa-lg"></i>
                </button>
                <button onclick="refresh_now_playing(<%= current_user.station.id %>)">
                  <i class="fa fa-refresh fa-lg"></i>
                </button>
            </div>

            <!-- Song Duration -->
            <div class = "columnMus middleMus">
                <br>
                <span id="current-time"></span>
                <canvas id="progress" width="500" height="5"></canvas>

                <span id="duration"></span>
                <br>
            </div>


            <!-- Hidden Audio player, controlled by mute button -->
            <!-- <audio id="iceaudio" autoplay muted src="http://jcradio.ddns.net:8000/rapi.mp3" type="audio/mpeg" hidden></audio> -->

            <!-- Play/Pause and Selector Name -->
            <div class = "columnMus rightMus">
            <span style="float: left; width: 32%; text-align: left;">&nbsp;</span>
            <span style="float: left; width: 32%; text-align: center; margin-top: 0.5em;">
              <button class="button button7" id="audioControl" onclick="togglePlaying()"><i class="fa fa-volume-up fa-lg"></i></button>
            </span>

              <span style="float: left; width: 32%; text-align: right; margin-top: 1em;">
                <% if current_user.station.now_playing.selector == current_user %>
                  <form action="/stations/<%= current_user.station.id %>/next" class="in_place_form">
                    <button class="button button3" type="submit">Next</button>
                  </form>
                <% elsif current_user.station.now_playing.selector %>
                  Chosen by <%= current_user.station.now_playing.selector.username %>
                <% end %>
              </span>
            </div>

        </div>

        <script>
            var canvasWidth = 500 ;
            var audioEl = document.getElementById("audio");
            var canvas = document.getElementById("progress").getContext('2d');
            var ctrl = document.getElementById('audioControl');

            var songDuration = 0;
            var startTime = 0;

            function setSongStats(duration_ms, start_ms) {
                songDuration = duration_ms;
                startTime = start_ms;
            }

            function togglePlaying() {

              document.getElementById('iceaudio').muted = !document.getElementById('iceaudio').muted

              var play = ctrl.innerHTML === '<i class="fa fa-volume-up fa-lg"></i>'
              var method

              if (play) {
                ctrl.innerHTML = '<i class="fa fa-volume-off fa-lg"></i><i class="fa fa-remove" style="font-size: 0.8em;"></i>'
                method = 'play'
              } else {
                ctrl.innerHTML = '<i class="fa fa-volume-up fa-lg"></i>'
                method = 'pause'
              }

              // audioEl[method]()

            }

            <% if logged_in? && current_user.station.now_playing %>

              setSongStats(<%= current_user.station.now_playing.song.duration %>, <%= current_user.station.now_playing_start_ms %> );

            <% end %>

            window.setInterval(updateBar, 100);

            function updateBar() {
              canvas.clearRect(0, 0, canvasWidth, 50)
              canvas.fillStyle = "#082739";
              canvas.fillRect(0, 0, canvasWidth, 50)

              var currentTime = Date.now()

              if (currentTime > startTime + songDuration) {
                return
              }

              msInSong = currentTime - startTime;
              secondsInSong = msInSong*1.0 / 1000;
              document.getElementById("current-time").innerHTML = convertElapsedTime(secondsInSong)

              var percentage = msInSong / songDuration
              var progress = (canvasWidth * percentage)
              canvas.fillStyle = "#e2f1af"
              canvas.fillRect(0, 0, progress, 50)
            }

            function convertElapsedTime(inputSeconds) {
              var seconds = Math.floor(inputSeconds % 60)
              if (seconds < 10) {
                seconds = "0" + seconds
              }
              var minutes = Math.floor(inputSeconds / 60)
              return minutes + ":" + seconds
            }

        </script>
    <% end %>

    </body>

<!-- Javascript -->
    <script>

        // Add a hidden input to all .in_place_form objects to tell the server where to redirect.
        $(document).ready(function() {
            redirect = window.location.href
            $(".in_place_form").append('<input type="hidden" name="redirect" value="' + redirect + '">')
        });

        <% if logged_in? %>
          $(() => liverpc_subscribe())
        <% end %>
    </script>

</html>
